doctype html
html
    head
        
body
    h1 Login
    form(action="/login" id=otp)
        label(for="Username") Username: 
        input(type="text" name="username" value=username)
        br
        br
        label(for="Password") Password: 
        input(type="text" name="password" value=password)
        br
        br
        button(type="submit" id="usernameLog") Submit

br
br
body
    h1 Signup
    form(action="/signup" id=otp)
        label(for="Username") Username: 
        input(type="text" name="username" value=username)
        br
        br
        label(for="email") E-mail: 
        input(type="text" name="email" value=email)
        br
        br
        label(for="New Password") New Password: 
        input(type="text" name="password" value=password)
        br
        br
        button(type="submit" id="usernameLog") Submit